/* FloatingModal.css */

.floating-modal {
    position: fixed;
    top: 90px;
    left: 20px;
    width: 550px;
    height: 80%;
    background-color: rgba(87, 86, 86, 0.8);
    padding: 15px; /* Adjusted padding */
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Logo styles */
.logo-container {
    margin-top: 20px; /* Adjusted margin */
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center; /* Center the logo vertically */
}

.logo-container img {
    width: 200px;
    height: auto;
}

/* Adjust any additional styles as needed */
